<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates laudantium aspernatur dicta. Natus, excepturi sint expedita cupiditate hic ab exercitationem a enim tempora possimus illo laudantium quis repellat voluptatem dolore!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, atque! Impedit quaerat libero tempora commodi nemo. Enim recusandae quia dolorem sequi aliquid ad aliquam, sapiente cupiditate nam accusamus, inventore nemo.</p>
    <div class="block block__red postion__relative"></div>
    <div class="grant-parent">
        <div class="parent">
            <div class="block block__blue postion__absolute"></div>
        </div>
    </div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia, excepturi consequuntur dolore fuga quos officiis deleniti sint accusamus pariatur rem aperiam maiores totam minus sequi facilis et quo obcaecati voluptates.</p>
</body>
</html>