body {
    padding: 0;
    margin: 0;
}

header {
    background-color: yellow;
}

nav {
    background-color: dimgray;
}

section {
    background-color: green;
}

section article {
    background-color: aqua;
}

section aside {
    background-color: blue;
}

footer {
    background-color: yellow;
}


/* layout */


/* 
aside {
    width: 30%;
    float: left;
}

article {
    width: 65%;
    float: right;
}

footer {
    clear: both;
} */