body, ul, li {
    padding: 0;
    margin: 0;
}

header {
    background-color: cadetblue;
}

nav {
    background-color: yellow;
}

section {
    background-color: green;
}

section aside .heading {
    margin: 0px;
}

aside { background-color: orange; }

article { background-color: red;}

footer { background-color: darkkhaki;}

/* Layout */
aside {
    width: 20%;
    float: left;
}

article {
    width: 70%;
    float: right;
}

footer {
    clear: both;
}