/* * {
    padding: 0;
    margin: 0;
} */

ul, li, body {
    padding: 0;
    margin: 0;
}

.menu {
    background-color: #323031;
    height: 43px;
}

.menu .list-item {
    text-align: center;
}

.menu .list-item .item {
    display: inline-block;
    padding: 12px;
}

.menu .list-item .item:hover a {
    color: yellow;
}

.menu .list-item .item:hover {
    background-color: #292929;
    cursor: pointer;
}

.menu .list-item .item a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* submenu */
.menu .list-item .item {
    position: relative;
}

.menu .list-item .item:hover .sub-menu {
    display: block
}

.menu .list-item .item .sub-menu {
    left: 0px;
    top: 42px;
    position: absolute;
    display: none;
}

.sub-menu .sub-list {
    text-align: start;
}

.sub-menu .sub-list .sub-item {
    list-style-type: none;
}

.sub-menu {
    background-color: #323031;
    width: 200px;
}