table, td, th {
    border: 1px solid red;
}

th {
    color: white;
    background-color: red;
    border: 1px solid white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/* .cell--center {
    text-align: center;
} */

td:nth-last-child(1) {
    text-align: center;
}

td:nth-last-child(3) {
    text-align: center;
}

td:first-child {
    text-align: center;
}

a:active {
    color: red;
}